{% extends "base.html" %}
{% block content %}
    <h1>No really, how are you feeling?</h1>
    <p class="fs-5 col-md-8">

      Putting the dot on the i of micro-blogging.<br>
      Share your mood with who you want and how you want. And nothing more.
      
    </p>

    {% if not current_user.is_authenticated %}
    <div class="mb-5">
      <a href="/login" class="btn btn-primary btn-lg px-4">Login</a>
    </div>

    <p class="fs-7 col-md-8">
      <i>No login yet? We're currently in invitation-mode.<br>
      Active users can create invitations to get you on board.</i>
    </p>
    {% endif %}

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>About</h2>
        <ul class="icon-list">
          <li><a href="/about/whatsnew" rel="noopener">What's new?'</a></li>
          <li class="text-muted">What is this?</li>
          <li class="text-muted">FAQ</li>
        </ul>
      </div>

    </div>
  </main>
</div>

{% endblock %}
