{% extends "base.html" %}
{% block content %}
    <h1>No really, how are you feeling?</h1>
    <p class="fs-5 col-md-8">

      Putting the dot on the i of micro-blogging. Share your mood with who you
      want. And nothing more.
      
    </p>

    {% if not current_user.is_authenticated %}
    <div class="mb-5">
      <a href="/login" class="btn btn-primary btn-lg px-4">Login</a>
    </div>

    <p class="fs-7 col-md-8">
      No login yet? We're currently in invitation-mode.<br>
      Active users can create invitations to get you on board.
    </p>
    {% endif %}

{% endblock %}
