{% extends "base.html" %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

      <div id="super" class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-success">
          <div class="card-header py-3 text-white border-success">
            <h4 class="my-0 fw-normal">&#128525;</h4>
          </div>
          <div class="card-body">
            <button type="button" class="w-100 btn btn-lg btn-outline-success">Super!</button>
          </div>
        </div>
      </div>

      <div id="ok" class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-warning">
          <div class="card-header py-3 border-warning">
            <h4 class="my-0 fw-normal">&#128512;</h4>
          </div>
          <div class="card-body">
            <button type="button" class="w-100 btn btn-lg btn-outline-warning">Ok</button>
          </div>
        </div>
      </div>

      <div id="down" class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-danger">
          <div class="card-header py-3 border-danger">
            <h4 class="my-0 fw-normal">&#128530;</h4>
          </div>
          <div class="card-body">
            <button type="button" class="w-100 btn btn-lg btn-outline-danger">Down</button>
          </div>
        </div>
      </div>

    </div>
{% endblock %}
{% block morejs %}
  <script src="/static/js/mood.js"></script>
{% endblock %}
