{% extends "base.html" %}
{% block content %}
  {% if user.gravatar %}
  <div class="text-center">
    <img src="https://www.gravatar.com/avatar/{{ user.gravatar }}?d=mp" alt="mdo" width="64" height="64" class="rounded-circle">
  </div>
  <br>
  {% endif %}
  <div id="mood"></div>
  {% if current_user.is_authenticated and user != current_user and not current_user.follows(user) %}
      <div class="container">
        <div class="col-md-12 text-center">
          <button type="submit" onclick='follow("{{ user.user }}");' class="btn btn-primary">follow {{ user.user }}</button>
        </div>
      </div>
  {% endif %}
{% endblock %}
{% block morejs %}
  <script src="/static/js/following.js"></script>
  <script src="/static/js/mood.js"></script>
  <script>show_mood("{{ user.mood }}");</script>
{% endblock %}
