body {
  background-color: #f5f5f5;
}

.container {
  max-width: 960px;
}
/* a fix for improved centering of notifications */
/* see: https://github.com/jpillora/notifyjs/issues/74#issuecomment-353306324 */

.notifyjs-corner {
  left: 50% !important;
  transform: translateX(-50%);
}

